<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>actions Component's page</title>
</head>
<body>
    <div class="component-container">
        <ul class="c-actions">
            <li class="c-action">
              <span class="c-action__title">10 طلبات تحتاج المعالجة</span>
              <a href="" class="c-btn c-action__link">مشاهد الطلبات</a>
            </li>
            <li class="c-action">
              <span class="c-action__title">5 رسائل تحتاج الإجابة</span>
              <a href="" class="c-btn c-action__link">مشاهدة الرسائل</a>
            </li>
            <li class="c-action">
              <span class="c-action__title">3 منتجات ضرورية على وشك النفاذ</span>
              <a href="" class="c-btn c-action__link">مشاهدة المنتجات</a>
            </li>
        </ul>

        <ul class="c-actions c-actions--oneline">
          <li class="c-action">
            <span class="c-action__title">10 طلبات تحتاج المعالجة</span>
            <a href="" class="c-btn c-action__link">مشاهد الطلبات</a>
          </li>
          <li class="c-action">
            <span class="c-action__title">5 رسائل تحتاج الإجابة</span>
            <a href="" class="c-btn c-action__link">مشاهدة الرسائل</a>
          </li>
          <li class="c-action">
            <span class="c-action__title">3 منتجات ضرورية على وشك النفاذ</span>
            <a href="" class="c-btn c-action__link">مشاهدة المنتجات</a>
          </li>
      </ul>
    </div>
</body>
</html>