<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card Component's page</title>
</head>
<body>
    <div class="component-container">
        <div class="c-card">
            <h3 class="c-card__title"> معلومات الشحن غير موجودة</h3>
            <a href="#" class="c-btn c-btn--primary c-card__action">ربط معلومات الشحن</a>
            <p class="c-card__desc">
                إنّ معلومات الشحن غير متوفرة، لقد سبق وقمت بإعداد موقعك بجعله يبيع أغراض فعلية، عليك بملأ معلومات الشحن في متجر حتى يتاح لعكاظ معرفة كيفية توفير الشحن لزبائنك
            </p>
        </div>
        <div class="c-card c-card--no-description">
            <h3 class="c-card__title"> معلومات الشحن غير موجودة</h3>
            <a href="#" class="c-btn c-btn--primary c-card__action">ربط معلومات الشحن</a>
        </div>
        <div class="c-card c-card--no-action">
            <h3 class="c-card__title"> معلومات الشحن غير موجودة</h3>
            <p class="c-card__desc">
                إنّ معلومات الشحن غير متوفرة، لقد سبق وقمت بإعداد موقعك بجعله يبيع أغراض فعلية، عليك بملأ معلومات الشحن في متجر حتى يتاح لعكاظ معرفة كيفية توفير الشحن لزبائنك
            </p>
        </div>    
    </div>
</body>
</html>