
<div class="c-chart" data-values="[423, 534, 1244, 122, 644, 322, 1240, 1603, 234, 442, 543, 123]">
    <header class="c-chart__header">
        <div class="c-chart__header__title">
            <h3 class="c-chart__title">المبيعات</h3>
            <span class="c-chart__date">1 اكتوبر 2020</span>
        </div>
        <div class="c-summary c-summary--small c-summary--boxless c-summary--spaceless">
            <div class="c-summary__data">
                <span class="c-summary__key">التغير الشهري</span>
                <span class="c-summary__value c-summary__value--positive">16,6%</span>
            </div>
            <div class="c-summary__data">
                <span class="c-summary__key">المجموع</span>
                <span class="c-summary__value">$96343</span>
            </div>
            <div class="c-summary__data">
                <span class="c-summary__key">آخر ثلاثين يوم</span>
                <span class="c-summary__value">$1345</span>
            </div>
        </div>
        <div class="c-table__navigation">
            <div class="c-table__navigation__arrows">
                <button class="c-btn c-btn--icon"><i class="c-icon c-icon--arrow-right2"></i></button>
                <button class="c-btn c-btn--icon"><i class="c-icon c-icon--arrow-left2"></i></button>
            </div>
        </div>
    </header>
    <canvas class="c-chart__data" id="example-chart" width="600" height="300"></canvas>
</div>
