<div class="c-sidebar">
  <div class="c-sidebar__control">
    <a
      href="./index.html"
      class="c-sidebar__icon c-sidebar__logo c-sidebar__icon--large">
      <svg viewbox="0 0 35 35">
        <circle
          cx="17.5"
          cy="17.5"
          r="12"
          fill="transparent"
          stroke-width="10"></circle>
      </svg>
    </a>
    <a href="./add-product.html" class="c-sidebar__icon"
      ><i class="c-icon c-icon--plus"></i
    ></a>
    <a href="#search" class="c-sidebar__icon"
      ><i class="c-icon c-icon--search"></i
    ></a>
    <a href="#logout" class="c-sidebar__icon"
      ><i class="c-icon c-icon--switch"></i
    ></a>
    <a
      href="#profile"
      class="c-sidebar__icon c-sidebar__icon--bottom c-sidebar__icon--large c-sidebar__icon--image">
      <img src="https://avatars.githubusercontent.com/u/37816302?v=4" alt="" />
    </a>
  </div>
  <div class="c-sidebar__menu">
    <h2 class="c-sidebar__title"><a href="./index.html">عربي</a></h2>
    <nav class="c-sidebar__navigation">
      <a href="./index.html" class="c-sidebar__link"
        >نظرة عامة<i class="c-icon c-icon--equalizer"></i
      ></a>
      <a href="./products.html" class="c-sidebar__link"
        >المنتجات<i class="c-icon c-icon--cart"></i
      ></a>
      <a href="./users.html" class="c-sidebar__link"
        >المستخدمين<i class="c-icon c-icon--users"></i
      ></a>
      <a href="./orders.html" class="c-sidebar__link"
        >الطلبات <i class="c-icon c-icon--file-text"></i
      ></a>
    </nav>
  </div>
  <div class="c-sidebar__backdrop"></div>
</div>
