<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SUMMARY Component's page</title>
</head>
<body>
    <div class="component-container">
        <div class="c-summary">
            <div class="c-summary__data">
                <span class="c-summary__value">34</span>
                <span class="c-summary__key">طلب</span>
            </div>
            <div class="c-summary__data">
                <span class="c-summary__value">1343</span>
                <span class="c-summary__key">زائر</span>
            </div>
            <div class="c-summary__data">
                <span class="c-summary__value">$4324</span>
                <span class="c-summary__key">مبيعات</span>
            </div>
        </div>
        <div class="c-summary c-summary--small">
            <div class="c-summary__data">
                <span class="c-summary__value">34</span>
                <span class="c-summary__key">طلب</span>
            </div>
            <div class="c-summary__data">
                <span class="c-summary__value">1343</span>
                <span class="c-summary__key">زائر</span>
            </div>
            <div class="c-summary__data">
                <span class="c-summary__value">$4324</span>
                <span class="c-summary__key">مبيعات</span>
            </div>
        </div>
        <div class="c-summary c-summary--boxless">
            <div class="c-summary__data">
                <span class="c-summary__value">34</span>
                <span class="c-summary__key">طلب</span>
            </div>
            <div class="c-summary__data">
                <span class="c-summary__value">1343</span>
                <span class="c-summary__key">زائر</span>
            </div>
            <div class="c-summary__data">
                <span class="c-summary__value">$4324</span>
                <span class="c-summary__key">مبيعات</span>
            </div>
        </div>
        <div class="c-summary c-summary--boxless c-summary--small">
            <div class="c-summary__data">
                <span class="c-summary__value">34</span>
                <span class="c-summary__key">طلب</span>
            </div>
            <div class="c-summary__data">
                <span class="c-summary__value">1343</span>
                <span class="c-summary__key">زائر</span>
            </div>
            <div class="c-summary__data">
                <span class="c-summary__value">$4324</span>
                <span class="c-summary__key">مبيعات</span>
            </div>
        </div>
        <div class="c-summary c-summary--spaceless">
            <div class="c-summary__data">
                <span class="c-summary__value">34</span>
                <span class="c-summary__key">طلب</span>
            </div>
            <div class="c-summary__data">
                <span class="c-summary__value">1343</span>
                <span class="c-summary__key">زائر</span>
            </div>
            <div class="c-summary__data">
                <span class="c-summary__value">$4324</span>
                <span class="c-summary__key">مبيعات</span>
            </div>
        </div>
    </div>
</body>
</html>