<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TABS Component's page</title>
</head>
<body>
    <div class="component-container">
        <div class="c-tabs js-tabs">
            <div class="c-tabs__control">
              <span class="c-tabs__tab js-tab-link" data-index="orders">طلبات تتطلب المعالجة</span>
              <span class="c-tabs__tab js-tab-link" data-index="products">منتجات على وشك النفاذ</span>
              <span class="c-tabs__tab js-tab-link" data-index="clients">زبائن جدد</span>
            </div>
            <div class="c-tabs__content">
                <div class="c-tabs__tabarea js-tab-area" data-indexed="orders">
                    <div class="c-list">
                        <img src="../assets/images/black-shirt.jpg" alt="" class="c-list__media">
                        <span class="c-list__data">قميص أسود M</span>
                        <span class="c-list__data">علي جابر</span>
                        <span class="c-list__data">دمشق، سوريا</span>
                        <span class="c-list__data">19.99$</span>
                        <div class="c-list__actions">
                            <a href="#" class="c-btn c-btn--primary c-btn--small">تم الشحن</a>
                            <a href="#" class="c-btn c-btn--small">تواصل</a>
                            <a href="#" class="c-btn c-btn--destructive c-btn--small">حذف الطلب</a>
                        </div>
                    </div>
                </div>
                <div class="c-tabs__tabarea js-tab-area" data-indexed="products">
                    <div class="c-list">
                        <img src="../assets/images/black-shirt.jpg" alt="" class="c-list__media">
                        <span class="c-list__data">قميص أسود M</span>
                        <span class="c-list__data">علي جابر</span>
                        <span class="c-list__data">دمشق، سوريا</span>
                        <span class="c-list__data">19.99$</span>
                        <div class="c-list__actions">
                            <a href="#" class="c-btn c-btn--primary c-btn--small">تم الشحن</a>
                            <a href="#" class="c-btn c-btn--small">تواصل</a>
                            <a href="#" class="c-btn c-btn--destructive c-btn--small">حذف الطلب</a>
                        </div>
                    </div>
                    <div class="c-list">
                        <img src="../assets/images/black-shirt.jpg" alt="" class="c-list__media">
                        <span class="c-list__data">قميص أسود M</span>
                        <span class="c-list__data">علي جابر</span>
                        <span class="c-list__data">دمشق، سوريا</span>
                        <span class="c-list__data">19.99$</span>
                        <div class="c-list__actions">
                            <a href="#" class="c-btn c-btn--primary c-btn--small">تم الشحن</a>
                            <a href="#" class="c-btn c-btn--small">تواصل</a>
                            <a href="#" class="c-btn c-btn--destructive c-btn--small">حذف الطلب</a>
                        </div>
                    </div>
                    <div class="c-list">
                        <img src="../assets/images/black-shirt.jpg" alt="" class="c-list__media">
                        <span class="c-list__data">قميص أسود M</span>
                        <span class="c-list__data">علي جابر</span>
                        <span class="c-list__data">دمشق، سوريا</span>
                        <span class="c-list__data">19.99$</span>
                        <div class="c-list__actions">
                            <a href="#" class="c-btn c-btn--primary c-btn--small">تم الشحن</a>
                            <a href="#" class="c-btn c-btn--small">تواصل</a>
                            <a href="#" class="c-btn c-btn--destructive c-btn--small">حذف الطلب</a>
                        </div>
                    </div>
                </div>
                <div class="c-tabs__tabarea js-tab-area" data-indexed="clients">
                    <div class="c-list">
                        <img src="../assets/images/black-shirt.jpg" alt="" class="c-list__media">
                        <span class="c-list__data">قميص أسود M</span>
                        <span class="c-list__data">علي جابر</span>
                        <span class="c-list__data">دمشق، سوريا</span>
                        <span class="c-list__data">19.99$</span>
                        <div class="c-list__actions">
                            <a href="#" class="c-btn c-btn--primary c-btn--small">تم الشحن</a>
                            <a href="#" class="c-btn c-btn--small">تواصل</a>
                            <a href="#" class="c-btn c-btn--destructive c-btn--small">حذف الطلب</a>
                        </div>
                    </div>
                    <div class="c-list">
                        <img src="../assets/images/black-shirt.jpg" alt="" class="c-list__media">
                        <span class="c-list__data">قميص أسود M</span>
                        <span class="c-list__data">علي جابر</span>
                        <span class="c-list__data">دمشق، سوريا</span>
                        <span class="c-list__data">19.99$</span>
                        <div class="c-list__actions">
                            <a href="#" class="c-btn c-btn--primary c-btn--small">تم الشحن</a>
                            <a href="#" class="c-btn c-btn--small">تواصل</a>
                            <a href="#" class="c-btn c-btn--destructive c-btn--small">حذف الطلب</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</body>
</html>