<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>textfield Component's page</title>
</head>
<body>
    <div class="component-container">
        <div class="c-textfield">
            <label for="normal" class="c-textfield__label">مدخل عادي</label>
            <input type="text" class="c-textfield__input" placeholder="ادخل المحتوى" id="normal">            
        </div>
        <div class="c-textfield">
            <label for="textarea" class="c-textfield__label">مدخل فقرة</label>
            <textarea id="textarea" placeholder="ادخل المحتوى" class="c-textfield__textarea"></textarea>
            <span class="c-textfield__hint">ملاحظات من أجل المدخل</span>
        </div>
    </div>
</body>
</html>