<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload Component's page</title>
</head>
<body>
    <div class="component-container">
        <div class="c-upload js-upload">
            <header class="c-upload__header">
                <h4 class="c-upload__title">صورة المنتج</h4>
                <label for="upload-image" class="c-upload__label">ارفع الصورة</label>
                <span class="c-upload__label c-upload__label--remove js-upload-remove">احذف الصورة</span>
            </header>
            <div class="c-upload__body">
                <div class="c-upload__image"><img class="js-upload-placeholder"></div>
                <input type="file" name="upload-image" id="upload-image" class="c-upload__field js-upload-value" accept="image/*">
                <span class="c-upload__subtitle">اسحب الصورة هنا لرفعها</span>
            </div>
        </div>
        <div class="c-upload c-upload--small js-upload">
            <header class="c-upload__header">
                <h4 class="c-upload__title">صورة المستخدم</h4>
            </header>
            <div class="c-upload__body">
                <label for="upload-image" class="c-upload__label">ارفع الصورة</label>
                <img class="js-upload-placeholder">
                <input type="file" name="upload-image" id="upload-image" class="c-upload__field js-upload-value" accept="image/*">
            </div>
            <span class="c-upload__label c-upload__label--remove js-upload-remove">احذف الصورة</span>
        </div>
    </div>
</body>
</html>