.page-header {
    display: flex;
    margin: spacing("wide") 0;
    align-items: baseline;

    & .c-btn {
        margin: 0 spacing();
    }

    & .c-btn:first-of-type {
        margin-right: spacing("wide");
    }
}

