.c-card {
    @include e-card;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: spacing("normal")/2 spacing("normal");
    width: 100%;
}

.c-card__title {
    flex-grow: 1;
    color: $color-title-subdued;
    font-size: 17px;
    font-weight: normal;
    margin-left: spacing();
    margin-top: spacing("normal")/2;
    margin-bottom: spacing("normal")/2;
}

.c-card__action {
    margin-top: spacing("normal")/2;
    margin-bottom: spacing("normal")/2;
}

.c-card__desc {
    width: 100%;
    font-size: 14px;
}

.c-card--no-desc {
    align-items: center;
    .c-card__title{
        margin-bottom: 0px;
    }
}

.c-card--no-action {
    .c-card__desc{
        margin-top: 0px;
    }
}