.c-chart {
    @include e-card;
    width: 100%;
    padding-top: spacing("normal");
}

.c-chart__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 spacing("normal");
    flex-wrap: wrap;
    margin-bottom: spacing("small");
}

.c-chart__header__title {
    margin-left: auto;
}

.c-chart__date {
    font-size: 12px;
}

.c-chart__data {
    padding: spacing("small");
    --color-brand: #2541b2
}