.component-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 95vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}