.c-help {
    display: flex;
    align-items: center;
    border-radius: (spacing("small")*2);
    border: 1px solid rgba(darken($color-primary, 30%), 0.15);
    background: white;
    padding: spacing();
    margin: spacing("wide") auto;
    width: fit-content;    
}

.c-help__icon {
    font-size: 20px;
    color: $color-primary;
    margin-left: spacing("extra-small");
}