$container-horizontal-spacing: spacing("small");

.c-list {
    display: flex;
    align-items: center;
    width: 100%;
    background: white;
    padding: spacing("extra-small") $container-horizontal-spacing;
    box-shadow: 0 0 0 1px rgba(black, 0.05);
}

.c-list__media {
    height: 60px;
    width: auto;
    margin-left: spacing("small");
}
  
.c-list__data {
    flex-grow: 1;
    margin-left: spacing("small");
}

.c-list__actions {
    margin-right: auto;
    text-align: left;
    margin-left: spacing("small");
    opacity: 0;
    transition: all 200ms ease;
}

.c-list:hover .c-list__actions {
    opacity: 1;
}

.c-list--table-row {
    display: table-row;
}

//responsive

@media (max-width: $bp-tablet-small) {
    .c-list {
        flex-wrap: wrap;
    }

    .c-list__actions{
        opacity: 1;
        text-align: right;
        margin-left: initial;
        margin-right: 0;
    }

    .c-list__data:not(:first-of-type), .c-list__actions {
        width: 100%;
        padding-top: spacing("extra-small");
        padding-bottom: spacing("extra-small");
        border-top: 1px solid #f8F8F8;
        margin-left: - $container-horizontal-spacing;
        margin-right: - $container-horizontal-spacing;
        padding-right: $container-horizontal-spacing;
        padding-left: $container-horizontal-spacing;
    }
}
  