$color-blue: #1768AC;
$color-blue-dark: #2541b2;

$color-dark: #212B36;

$color-red: #ed6347;
$color-red-dark: #bf0711;

$color-brand: $color-blue-dark;
$color-primary: $color-blue;
$color-content: $color-dark;

$color-white: #F7F7F7;
$color-grey: #637381;
$color-background: #f5f5f5;
$color-link: #007ace;

$color-text-subdued: #919eab;
$color-title-subdued: #637381;

:root {
    --color-chartbrand: #2541b2;
}
